:root {
  --primary: #9f974a;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 5000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #666230;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('img/header-bg.jpeg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1,1,3,1) 8%, rgba(255,255,255,0) 40%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

/* Profile Section */
.profile, .hometown, .food, .tourist {
  padding: 8rem 7% 1.4rem;
}

.profile h2, .hometown h2, .food h2, .tourist h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.profile h2 span, .hometown h2 span, .food h2 span, .tourist h2 span {
  color: var(--primary);
}

.profile .row {
  display: flex;
}

.profile .row .profile-img {
  flex: 1 1 5rem;
}

.profile  .row .profile-img img {
  width: 100%;
  border-radius: 20px;
}

.profile .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.profile .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}

.profile .cta-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #bbb157;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.profile .cta-button:hover {
  background-color: #847c3d;
}

.profile .linkedin-logo {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* Hometown Section */
.hometown h2, .food h2, .tourist h2 {
  margin-bottom: 1rem;
}

.hometown p, .food p, .tourist p {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.hometown .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.hometown .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  height: 30rem;
}

.hometown .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.hometown .row .content h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hometown .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

/* Food Section */
.food .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.food .row .food-card {
  text-align: center;
  padding-bottom: 4rem;
}

.food .row .food-card img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

.food .row .food-card .food-card-title {
  margin-top: 1rem auto 0.5rem;
}

.food .row .food-card .food-card-desc {
  font-size: 0.9rem;
  text-align: center;
  max-width: 17rem;
  margin: 1 auto;
  padding: 0 1rem;
}

/* Tourist Section */
.tourist .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.tourist .row .tourist-card {
  text-align: center;
  padding-bottom: 4rem;
}

.tourist .row .tourist-card img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

.tourist .row .tourist-card .tourist-card-title {
  margin-top: 1rem auto 0.5rem;
  padding: 0 1rem;
}

.tourist .row .tourist-card .tourist-card-desc {
  font-size: 0.9rem;
  text-align: center;
  max-width: 17rem;
  margin: 1 auto;
  padding: 0 1rem;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a{
  color: #fff;
  margin: 0.5rem;
}

footer .socials a:hover, footer .links a:hover {
  color: #494521;
  font-weight: 700;
}

footer .links {
  margin-bottom: 1.3rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .profile .row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile .row .profile-img img {
    width: 30rem;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }

  .profile .row .content {
    padding: 0;
  }

  .profile .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .profile .row .content p {
    font-size: 1.5rem;
  }

  .food p {
    font-size: 1.2rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
